node_modules

# Output
.output
.vercel
.netlify
.wrangler
/.svelte-kit
/build

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

dist
*.class

# Debian Packaging

pkg/unix/dpkg/cli/usr
pkg/unix/dpkg/cli/etc
pkg/unix/dpkg/cli/var

pkg/unix/dpkg/server/usr
pkg/unix/dpkg/server/etc
pkg/unix/dpkg/server/var

pkg/unix/dpkg/web/usr
pkg/unix/dpkg/web/etc
pkg/unix/dpkg/web/var

*.deb

*.rpm

# Generic unix packaging

pkg/unix/generic/minoctl
pkg/unix/generic/minopaneld
pkg/unix/generic/minowebd

*.tar.gz
*.tar.xz